<footer class="text-center text-lg-start ">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block fw-bold">
        <span>Síguenos en nuestras redes sociales:</span>
      </div>
  
      <div>
        <a routerLink="/nosotros" routerLinkActive="active" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>

      </div>
    </section>

    
    <section class="">
      <div class=" mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">            
            <img class="ms-5" src="../../assets/imagenes/Logo.jpg" loading="lazy">
          </div>

          
          <div class="col-md-2 col-lg-2 col-xl-2 mb-4">

            <nav>
              <h5 class="text-uppercase fw-bold mb-4">Legal</h5>
              <ul>
                <li><a href="#!">Devoluciones</a></li>

                <li><a href="#!">Términos y condiciones</a></li>

                <li><a href="#!">Política de cookies</a></li>

                <li><a href="#!">Privacidad</a></li>
              </ul>
            </nav>
          </div>
  

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <nav>
              <h5 class="text-uppercase fw-bold mb-4">
                P.Sur Pharmacy
              </h5>
              <ul>
                <li><a routerLink="/nosotros" routerLinkActive="active">Sobre Nosotros</a></li>

                <li><a routerLink="/politica/cookies" routerLinkActive="active">Política de Cookies</a></li>
                
                <li><a href="#!">Promociones</a></li>
                
                <li><a href="#!">Contacto</a></li>
              </ul>
            </nav>
          </div>
  

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h5 class="text-uppercase fw-bold mb-4">Localización</h5>
            <p><iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6342.763463510203!2d-5.980508029460926!3d37.357143493999416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126e6324845c63%3A0xec11c55d97d1a400!2sFarmacia!5e0!3m2!1ses!2ses!4v1700120217539!5m2!1ses!2ses" width="300" height="250" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </p>
          </div>
        </div>
      </div>
    </section>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <h6 class="fw-bold">
        © 2024 Psurpharmacy.com - Todos Los Derechos Reservados
      </h6>
    </div>
  </footer>