{% extends 'principal.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

{% block cabecera %}
    <div class ="cabecera">
        <h1>ERRORES | #403 PROHIBIDO</h1>
    </div>
{% endblock %}

{% block contenido %}
    <div class="descripcion_body">
        <div class="descripcion_body-texto">    
            <h1>El servidor ha entendido la solicitud, pero no la procesará porque el cliente no tiene permiso para acceder al recurso.</h1>
        </div>
    </div>
{% endblock %}

