
<div class="row">
  <div class="col-md-2 col-lg-2 col-xl-2 mb-4" id="sidebar">
    <nav>
      <h5 class="text-uppercase fw-bold mb-4 text-center">ADMIN PANEL</h5>
      <ul class="nav nav-tabs flex-column">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" id="nav-dashboard" href="#dashboard"><i class="fa-solid fa-chart-pie"></i> Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="nav-messages" href="#messages"><i class="fa-solid fa-inbox"></i> Messages</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="nav-users" href="#users"><i class="fa-solid fa-user-group"></i> Users List</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="nav-transactions" href="#transactions"><i class="fa-solid fa-credit-card"></i> Transactions</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="nav-settings" href="#settings"><i class="fa-solid fa-gear"></i> Settings</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="nav-tables" href="#tables"><i class="fa-solid fa-table"></i> Tables</a></li>
      </ul>
    </nav>
  </div>
  <div class="col" id="content">
    <div class="tab-content">
      <div id="dashboard" class="tab-pane fade show active">
        <app-dashboard></app-dashboard>
      </div>
      <div id="messages" class="tab-pane fade">
        <app-messages></app-messages>
      </div>
      <div id="users" class="tab-pane fade">
        <app-userslist></app-userslist>
      </div>
      <div id="transactions" class="tab-pane fade">
        <app-transactions></app-transactions>
      </div>
      <div id="settings" class="tab-pane fade">
        <app-settings></app-settings>
      </div>
      <div id="tables" class="tab-pane fade">
        <app-tables></app-tables>
      </div>
    </div>
  </div>
</div>



