
nav{
    background-color: #262b4f;
}

nav > h5{
    color: white;
    font-size: x-large;
    padding-top: 2em;
}

nav ul{
    text-decoration: none;
    padding-left: 2em;
    margin: 1rem auto;
    list-style: none;
    font-size: larger;
}

nav ul li{
    margin-top: 0.5rem;
    padding: 0.5rem;
}

nav ul li a{
    transition: all 300ms;
}

nav ul li:hover a{
    padding-left: 40px;
    font-weight: bold;

}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover{
    font-weight: bold;
    color: white;
}
