

<div class="wrap">
  <div>
    <div class="banner">
      <h1>¡BIENVENIDO A TU FARMACIA DE CONFIANZA!</h1>
    </div>
  </div>
  
  <div class="banner2">
    <h1>Cuidamos de ti{{ typedText$ | async }}</h1>
  </div>


  <div class="carrusel">
    <ul>
      <li>
        <img src="../../assets/imagenes/carrousel1.jpg" alt="imgcarrusel-1" loading="lazy">
        <div class="texto1">
          <h2>Los Mejores Profesionales Farmacéuticos </h2>
          <p>Contamos con los mejores profesionales porque nos importan nuestros clientes.</p>
        </div>
      </li>
      <li>
        <img src="../../assets/imagenes/carrousel2.jpg" alt="imgcarrusel-2" loading="lazy">
        <div class="texto1">
          <h2>Cuidado Especial para Nuestros Mayores</h2>
          <p>Dedicamos atención especial para cuidar de nuestros mayores.</p>
        </div>
      </li>
      <li>
        <img src="../../assets/imagenes/carrousel3.jpg" alt="imgcarrusel-3" loading="lazy">
        <div class="texto1">
          <h2>Todo lo que Necesitas</h2>
          <p>Tenemos todo lo que buscas para tu salud y bienestar.</p>
        </div>
      </li>
      
    </ul>
  </div>
  
  <div>
    <app-top-ventas></app-top-ventas>
  </div>