.banner{
  width: 90%;
  height: 13em;
  border: 10px solid lightblue;
  box-shadow: 0px 0px 5px black;
  background: url(../../assets/imagenes/banner-pharmacy3.jpg);
  background-position: -200px -200px;
  margin: 20px auto;
  border-radius: 3em;
  animation: backBanner 10s linear;
  overflow: hidden;

}


@keyframes backBanner{
  0%{
      background-position: 0px 0px;
  }
  100%{
      background-position: -200px -200px;
  }
}


.banner > h1{
  display: block;
  width: auto;
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
  margin: 2.5em auto;
  text-shadow: 2px 2px 1px black;
  animation: showText 10s linear;
  text-transform: uppercase;

}

@keyframes showText{
  0%{
      transform: translateX(-600%) scale(5,5);
      opacity: 1;
  }
  50%{
      transform: translateX(600%) scale(5,5);
      opacity: 1;
  }
  75%{
      transform: translateX(-600%) scale(5,5);
      text-shadow: none;
      color: transparent;
      opacity: 0;
  }
  100%{
      transform: translateX(0%) scale(1,1);
      opacity: 1;
      text-shadow: 2px 2px 1px black;
      color:#262b4f
  }

}


.banner2{
  width: 90%;
  margin: auto;
  background-color: green;
}

.writeEffect{
  display: inline-block;
  vertical-align: bottom;
  animation: write-animation 5s steps(10) infinite alternate;
}

.writeEffect span{
  float:left;
  overflow: hidden;
  animation: hideWord 8s linear infinite;
}

.writeEffect span:nth-child(1){
  animation-delay: -0s;
}


.writeEffect span:nth-child(2){
  animation-delay: -1s;
}


.writeEffect span:nth-child(3){
  animation-delay: -0s;
}


.writeEffect span:nth-child(4){
  animation-delay: -0s;
}

@keyframes write-animation{
  from { width: 100%;}
  to { width: 0;}
}

@keyframes hideWord{
  0%, 16.6%, 33.33%, 100%{
    width: 0;
  }
  16.66%, 33.3%{
    width: auto;
  }
}


.carrusel{
  width: 90%;
  height: auto;
  margin: 3% auto;
  overflow: hidden;
  border-radius: 3em;
  z-index: 0;
}

.carrusel ul{
  display: flex;
  padding: 0;
  width: 500%;
  animation: carrusel 20s infinite ease-in-out;
}

.carrusel li{
  width: 100%;
  list-style: none;
  position: relative;
}

.carrusel img{
  width: 100%;
  height: auto;
}  

.texto1 {
  position: absolute;
  text-align: left;
  width: 40%;
  top: 50px;
  color: white;
  padding: 40px;
}

.texto1 h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 60px;
}

.texto1 p {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin-top: 10px;
}

.texto1 button{
  width: 25%;
  padding: 10px;
  margin-top: 50px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.texto h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 60px;
}

.texto p {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin-top: 10px;
}

.texto button {
  width: 25%;
  padding: 10px;
  margin-top: 50px;
  background-color: #262b4f;
  color: white;
}

.texto {
  position: absolute;
  text-align: left;
  width: 40%;
  top: 50px;
  color: #262b4f;
  padding: 40px;
}

@keyframes carrusel{
  0% {margin-left: 0;}
  15% {margin-left: 0;}

  20% {margin-left: -100%;}
  35% {margin-left: -100%;}
  
  40% {margin-left: -200%;}
  55% {margin-left: -200%;}
  
  60% {margin-left: -300%;}
  75% {margin-left: -300%;}

  80% {margin-left: -400%;}
  95% {margin-left: -400%;}

  100% {margin-left: 0;}

}
