.banner{
  width: 90%;
  height: 13em;
  border: 10px solid lightblue;
  box-shadow: 0px 0px 5px black;
  background: url(../../assets/imagenes/banner-pharmacy3.jpg);
  background-position: -200px -200px;
  margin: 20px auto;
  border-radius: 3em;
  animation: backBanner 10s linear;
  overflow: hidden;

}


@keyframes backBanner{
  0%{
      background-position: 0px 0px;
  }
  100%{
      background-position: -200px -200px;
  }
}


.banner > h1{
  display: block;
  width: auto;
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
  margin: 2.5em auto;
  text-shadow: 2px 2px 1px black;
  animation: showText 10s linear;
  text-transform: uppercase;

}

@keyframes showText{
  0%{
      transform: translateX(-600%) scale(5,5);
      opacity: 1;
  }
  50%{
      transform: translateX(600%) scale(5,5);
      opacity: 1;
  }
  75%{
      transform: translateX(-600%) scale(5,5);
      text-shadow: none;
      color: transparent;
      opacity: 0;
  }
  100%{
      transform: translateX(0%) scale(1,1);
      opacity: 1;
      text-shadow: 2px 2px 1px black;
      color:#262b4f
  }

}


.banner2{
  width: 90%;
  margin: auto;
  text-align: center;
}

.writeEffect{
  display: inline-block;
  vertical-align: bottom;
  animation: write-animation 5s steps(10) infinite alternate;
}

.writeEffect span{
  float:left;
  overflow: hidden;
  animation: hideWord 8s linear infinite;
}

.writeEffect span:nth-child(1){
  animation-delay: -0s;
}


.writeEffect span:nth-child(2){
  animation-delay: -1s;
}


.writeEffect span:nth-child(3){
  animation-delay: -0s;
}


.writeEffect span:nth-child(4){
  animation-delay: -0s;
}

@keyframes write-animation{
  from { width: 100%;}
  to { width: 0;}
}

@keyframes hideWord{
  0%, 16.6%, 33.33%, 100%{
    width: 0;
  }
  16.66%, 33.3%{
    width: auto;
  }
}


.carrusel{
  width: 90%;
  height: 80%;
  margin: 3% auto;
  overflow: hidden;
  border-radius: 3em;
  z-index: 0;
}

.carrusel ul{
  display: flex;
  padding: 0;
  width: 300%;
  animation: carrusel 30s infinite ease-in-out;
}

.carrusel li{
  width: 100%;
  list-style: none;
  position: relative;
}

.carrusel img{
  width: 100%;
  height: auto;
}  

.texto1 {
  position: absolute;
  text-align: left;
  width: 40%;
  top: 50px;
  color: white;
  padding: 40px;
}

.texto1 h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 60px;
}

.texto1 p {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin-top: 10px;
}

.texto h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 60px;
}


@keyframes carrusel{
  0% {margin-left: 0;}
  28% {margin-left: 0;}

  33% {margin-left: -100%;}
  62% {margin-left: -100%;}
  
  67% {margin-left: -200%;}
  95% {margin-left: -200%;}
  
  100% {margin-left: 0;}

}



@media (min-width: 375px) and (max-width: 809px) {

  .banner{
    height: 13%;
  }

  .banner > h1{
    margin: auto;
    font-size: 25px;
  }

  .banner2 > h1{
    font-size: 19px !important;
  }

  .carrusel{
    width: 90%;
    height: 16%;
    border-radius: 0.5rem !important;
  }


  .carrusel img{
    width: 100%;
    height: 70% !important;
  }  

  .texto1 {
    position: absolute;
    top: -12%;
    left: -10%;
    bottom: 100%;
    width: 70%;
  }
 

  .texto1 > h2{
    font-weight: bold;
  }

  .texto1 > h2, 
  .texto1 > p{
    margin-bottom: 7%;
    font-size: 11px;
    bottom: 100%;
    right: 70%;
  }
 
  .texto1 > button{
    margin: 0;
    padding: 2%;
    width: 50%;
    font-size: 10px;
    bottom: 100%;
    right: 70%;

  }

}




@media (min-width: 800px) and (max-width: 1200px) {

  .banner{
    height: 10%;
  }

  .banner > h1{
    margin: auto;
    margin-top: 5%;
    font-size: 25px;
  }

  .carrusel{
    width: 90%;
    height: 26%;
    border-radius: 0.5rem !important;
  }

  .carrusel img{
    width: 100%;
    height: 70% !important;
  }  

  .texto1 {
    top: 1%;
    width: 60%;
    left: -3%;
  }

  .texto1 > h2{
    font-weight: bold;
  }

  .texto1 > h2,
  .texto1 > p {
    font-size: 20px;
  }

  .texto1 > button {
    width: 50%;
    height: 20% !important;
    border-radius: 0.5rem;
  }


}



@media screen and (prefers-color-scheme: dark) {

  .banner{
    border: 10px solid #262b4f;
    box-shadow: 0px 0px 5px black;
    background-position: -200px -200px;
    border-radius: 3em;
  }

  .texto1{
    color: #262b4f !important;
  }

  .carrusel > ul>li>img{
    opacity: 0.8 !important;
  }


}