<div class="wrap mt-1">
  <div id="info">
    <div class="banner">
      <h1>¡BIENVENIDO A TU FARMACIA DE CONFIANZA!</h1>
    </div>
  </div>
</div>

<div class="carrusel">
  <ul>
    <li>
      <img src="../../assets/imagenes/carrusel1.jpg" alt="imgcarrusel-1">
      <div class="texto1">
        <h2>La salud no tiene precio </h2>
        <p>La mejor manera de anticiparse al Black Friday. Consigue ahora los mayores descuentos en parafarmacia.</p>
        <button>Ver más</button>
      </div>
    </li>
    <li>
      <img src="../../assets/imagenes/carrusel2.jpg" alt="imgcarrusel-2">
      <div class="texto">
        <h2>15% de descuento</h2>
        <p>En productos de máxima calidad para que ellos crezcan felices y tú disfrutes del momento.</p>
        <button>Ver más</button>
      </div>
    </li>
    <li>
      <img src="../../assets/imagenes/carrusel3.jpg" alt="imgcarrusel-3">
      <div class="texto">
        <h2>30% dto en 2º ud</h2>
        <p>Productos naturales y biodegradables para la salud de hoy y del manyana.</p>
        <button>Ver más</button>
      </div>
    </li>
    <li>
      <img src="../../assets/imagenes/carrusel4.jpg" alt="imgcarrusel-4">
      <div class="texto">
        <h2>20% de descuento </h2>
        <p>La salud es fundamental. Empieza por el cuidado de tu piel.</p>
        <button>Ver más</button>
      </div>
    </li>
    <li>
      <img src="../../assets/imagenes/carrusel5.jpg" alt="imgcarrusel-5">
      <div class="texto">
        <h2>¡Vuelve la cajita más esperada!</h2>
        <p>PSur Secret es la cajita de salud, dermocosmética y bienestar que te va a sorprender con 23 productos de
          marcas referentes en el mercado. ¡Por sólo 49,99€!</p>
        <button>Ver más</button>
      </div>
    </li>
  </ul>
</div>