{% extends "principal.html" %}

{% block contenido %}
{% load bootstrap5 %}

<form action ="{% url 'promocion_create' %}" method = "post">
    {% csrf_token %}
    <div class="container">
        <div class="mb-4">
            {% bootstrap_field formulario.nombre_promo show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.descripcion_promo show_label=True %}
        </div>
            
        <div class="mb-4">
            {% bootstrap_field formulario.valor_promo show_label=True %}
        </div>

        <div class="d-flex mb-4 justify-content-between">

            <div class="mb-4 w-50">
                {% bootstrap_field formulario.fecha_fin_promo show_label=True %}
            </div>
        
            <div class="mb-4 w-25">
                {% bootstrap_field formulario.cliente_promo show_label=True %}
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>


{% endblock %}