{% extends "principal.html" %}

{% block contenido %}
{% load bootstrap5 %}

<form action="{% url 'gerente_editar' gerente.id %}" method="post">
    {% csrf_token %}
    <div class="container">


        <div class="mb-4">
            {% bootstrap_field formulario.username show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.first_name show_label=True %}
        </div>


        <div class="mb-4">
            {% bootstrap_field formulario.email show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.date_joined show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.direccion_ger show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.telefono_ger show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.salario_ger show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.gerente_farm show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
{% endblock %}