
div{
    h1{
        // background-color: white;
        margin: auto;
        width: 24%;
        text-align: center;
        border-radius: 5em;
    }
}

.row{
    width: 90%;
    margin: auto;
    
}

.card{
    border-radius: 5em;
    color: white;
    background: linear-gradient(to top, rgb(136, 183, 199) 40%, transparent 50%);
    width: 20em;
    margin: auto;
    border: rgb(246,245,243) 1px solid;
    text-align: center;
}

img{
    height: 15em;
    background-image: none;
    mix-blend-mode: multiply;
    text-align: center;
    margin-left: 1em;
    margin-bottom: 1em;
    border: none;
}

//ANIMACION CARRITO

.cart-button{
    position: relative;
    padding: 10px;
    width: 8em;
    height: 3.5em;
    border: 0;
    border-radius: 3rem;
    background-color: lightblue;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    overflow: hidden;
    font-weight: bold;
}

.cart-button:hover{
    background-color: lightgreen;
}

.cart-button:active{
    transform: scale(.9);
}

.cart-button .fa-shopping-cart{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -13.5%;
    font-size: 2em;
    transform: translate(-50%,-50%);
    color: #262b4f;
}

.cart-button .fa-box{
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%,-50%);
    color: #262b4f;

}

.cart-button span{
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 1.3em;
    color: #262b4f;
    transform: translate(-50%, -50%);
}

.cart-button span.add-to-cart{
    opacity: 1;
}


.cart-button span.added{
    opacity: 0;
}

.cart-button.clicked .fa-shopping-cart{
    animation: cart 1.5s ease-in-out forwards;
}

.cart-button.clicked .fa-box{
    animation: box 1.5s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
    animation: txt1 1.5s ease-in-out forwards;
}

.cart-button.clicked span.added{
    animation: txt2 1.5s ease-in-out forwards;
}


@keyframes cart{
    0%{
        left: -10%;
    }
    40%, 60%{
        left: 50%;
    }
    100%{
        left: 113.5%;
    }
}

@keyframes box{
    0%, 40%{
        top: -20%;
    }
    60%{
        top: 40%;
        left: 52%;
    }
    100%{
        top: 40%;
        left: 112%;
    }
}

@keyframes txt1{
    0%{
        opacity: 1;
    }
    20%,100%{
        opacity: 0;
    }
}

@keyframes txt2{
    0%, 80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}





//FAVORITO



.favorite-button {
    --background-default: lightblue;
    --text-color-default: #262b4f;
    --star-color-default: #62677C;
    --star-face-color-default: #1F2128;
    --star-color-active: #F6C206;
    --star-face-color-active: #845901;
    --star-hole: #16181E;
    --star-hole-inner: #20232C;
    --button-y: 0px;
    --star-y: 0px;
    --star-scale: 1;
    --star-rotate: 0deg;
    --star-hole-scale: 0;
    --star-face-scale: 1;
    --text-x: 0px;
    --text-o: 1;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: none;
    padding: 10px;
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: var(--text-color-default);
    transform: translateY(var(--button-y)) translateZ(0);
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 3rem;
        transition: .3s ease-in-out;
        transform: scale(var(--background-scale-x, 1), var(--background-scale-y, 1)) translateZ(0);
        background: var(--background-default);
    }
    &:active {
        --background-scale-x: .98;
        --background-scale-y: .96;
    }
    span {
        display: block;
        opacity: var(--text-o);
        transform: translateX(var(--text-x));
    }
    .icon {
        width: 36px;
        height: 119px;
        display: flex;
        pointer-events: none;
        position: relative;
        clip-path: ellipse(150% 50% at 50% 50%);
        margin: -100px 2px 0 -8px;
        &:before {
            content: '';
            margin-top: auto;
            display: block;
            width: 36px;
            height: 12px;
            background: var(--star-hole);
            box-shadow: inset 0 3px 0 0 var(--star-hole-inner);
            border-radius: 100px / 30px;
            transform: scale(var(--star-hole-scale));
            transform-origin: 50% 100%;
        }
        .star {
            width: 20px;
            height: 19px;
            position: absolute;
            left: 8px;
            bottom: 0;
            transform: translateY(var(--star-y)) rotate(var(--star-rotate)) scale(var(--star-scale));
            border-radius: var(--star-radius, 0px);
            background: var(--star-color, var(--star-color-default));
            clip-path: var(--star-clip, polygon(10px 0, 13px 6px, 20px 7px, 15px 12px, 16px 19px, 10px 15px, 4px 19px, 5px 12px, 0 7px, 7px 6px));
            transition: clip-path .2s, border-radius .2s, background .2s;
            &:before,
            &:after {
                content: '';
                position: absolute;
                background: var(--star-face-color, var(--star-face-color-default));
                transition: background .2s, box-shadow .2s;
            }
            &:before {
                width: 2px;
                height: 2px;
                border-radius: 50%;
                left: 7px;
                top: 8px;
                box-shadow: 4px 0 0 0 var(--star-face-color, var(--star-face-color-default));
                transform: scaleY(var(--star-face-scale));
            }
            &:after {
                width: 4px;
                height: 2px;
                border-radius: var(--star-face-radius, 2px 2px 0 0);
                left: 8px;
                top: 11px;
                transition: border-radius .2s;
            }
        }
    }
    &.star-round {
        --star-clip: polygon(10px 0, 20px 0, 20px 7px, 20px 12px, 20px 19px, 10px 19px, 0 19px, 0 12px, 0 7px, 0 0);
        --star-radius: 50%;
    }
    &.active {
        --star-color: var(--star-color-active);
        --star-face-color: var(--star-face-color-active);
        --star-face-radius: 0 0 2px 2px;
    }
}

.favorite-button:hover{
    --background-default: lightgreen;

}




.botones{
    margin: auto;
    margin-bottom: 1em;
    justify-content: space-evenly;
}