{% extends "principal.html" %}

{% block contenido %}
{% load bootstrap5 %}

<form action ="{% url 'cliente_editar' cliente.id %}" method = "post">
    {% csrf_token %}
    <div class="container">
        <div class="mb-4">
            <p>Nombre y apellidos <h4>{{ formulario.instance.usuario.first_name }}</h4></p>
        </div>

        <div class="mb-4">
            <p>Email <h4>{{ formulario.instance.usuario.email }}</h4></p>
        </div>

        <div class="mb-4">
            <p>Fecha de Registro <h4>{{ formulario.instance.usuario.date_joined }}</h4></p>
        </div>


        <div class="mb-4">
            {% bootstrap_field formulario.telefono_cli show_label=True %}
        </div>
            
        <div class="mb-4">
            {% bootstrap_field formulario.direccion_cli show_label=True %}
        </div>

        <div class="mb-4 w-50">
            {% bootstrap_field formulario.productos_favoritos show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form>


{% endblock %}