<div>
    <h2>Cliente: {{ cliente.usuario.first_name|truncatewords:2 }}</h2>
    <h2>Email: {{ cliente.usuario.email }}</h2>
    <h2>Direccion: {{ cliente.direccion_cli }}</h2>
    <h2>Teléfono: {{ cliente.telefono_cli }}</h2>
    <h2>Fecha de Alta: {{ cliente.usuario.date_joined }}</h2>
    <h2>Último Inicio Sesion: {{ cliente.usuario.last_login }}</h2>
    {% for productofav in cliente.productos_favoritos.all %}
        <h2>Producto Favorito: {{ productofav.nombre_prod }}</h2>
    {% endfor %}
    {% for productovoto in cliente.votacion_prod.all %}
        <h2>Producto Votado: {{ productovoto.nombre_prod|truncatewords:3 }}<!-- :{{productovoto.voto_producto.puntuacion}}</h2>   -->
    {% endfor%}
</div>