<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">

                    <div class="invoice p-5">

                        <h5 class="text-center"><b>¡Gracias por tu compra en Polígono Sur Pharmacy!</b></h5>

                        <span class="font-weight-bold d-block mt-4">Hola, {{nombre_cliente}}</span>
                        <span>Nos complace informarte que tu pedido ha sido confirmado y está en proceso de preparación. A continuación, te proporcionamos los detalles de tu compra:</span>

                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                            <table class="table table-borderless">
                                
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2 text-center">

                                                <span class="d-block text-muted">Fecha Compra</span>
                                            <span class="d-block pt-3">{{fecha_compra}}</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2 text-center">

                                                <span class="d-block text-muted">No Pedido</span>
                                            <span class="d-block pt-3">{{numero_pedido}}</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2 text-center">

                                                <span class="d-block text-muted">Tipo de pago</span>
                                                <span class="d-block pt-3">{{metodo_pago}}</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2 text-center">

                                                <span class="d-block text-muted">Direccion de Envío</span>
                                            <span class="d-block pt-3">{{address}}</span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                            
                        </div>


                        <p>En breve recibirás un correo electrónico con la factura de tu pedido adjunta en formato PDF. Por favor, guarda este correo para cualquier inconveniente o reclamación.

                        <p>Si deseas descargar tu factura inmediatamente, por favor haz clic <a style="cursor: pointer;" (click)="downloadPDF()">aquí</a>.</p>
                            
                        <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos en servicioalcliente.psurpharmacy&#64;hotmail.com o llamarnos al {{telefono}}.</p>
                        
                        <p >Gracias por confiar en nosotros.</p>
                        
                        <p class="mb-0">Atentamente,</p>
                        <p class="fw-bold">El equipo de P.Sur Pharmacy</p>

                    </div>


                    <div class="d-flex justify-content-between footer p-3">

                        <span>Need Help? send us an email <a href="#"> servicioalcliente.psurpharmacy&#64;hotmail.com</a></span>
                        
                    </div>



        
    </div>
            
        </div>
        
    </div>
    
</div>