

<section>
  <div class="container">

    <div class="alert alert-success m-auto" *ngIf="mostrarMensaje">
      <h4>{{ textoInfo }}<b>{{ palabraBuscada }}</b></h4>
  
    </div>

  

    <div class="row ms-2 mt-3 d-flex align-items-center">
      <h4 class="d-flex align-items-center">
        <b class="me-2" *ngIf="productos">{{productos.length}}</b> resultados
      </h4>
    </div>

    <div *ngIf="mostrarImagen" class="nodata">
      <h1>No se han encontrado resultados</h1>
      <img src="../../assets/imagenes/no-data-found.jpg" alt="" loading="lazy">
  
    </div>

    <div class="row mt-2" *ngIf="productos">
      <ng-container *ngFor="let producto of productos">
          <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="product__item ">
                  <div class="product__item__pic"
                      style="cursor: pointer;">
                      <img *ngIf="producto.imagen_prod" class="product__details__pic__item--large"
                          [src]="url+producto.imagen_prod" alt="" (click)="getProductInfo(producto.cn_prod, producto.cif_farm)" loading="lazy">
                      <img *ngIf="!producto.imagen_prod" class="product__details__pic__item--large"
                          src="../../assets/imagenes/NoProductImageAvailable.png" alt="" (click)="getProductInfo(producto.cn_prod, producto.cif_farm)" loading="lazy">
                      <ul class="product__item__pic__hover" *ngIf="!productosAnadidos.has(producto.id)">
                          <li><a class="disabled"><i class="fa fa-heart"></i></a></li>
                          <li><a class="disabled"><i class="fa-solid fa-share"></i></a></li>
                          <li><a style="cursor: pointer;" (click)="producto.stock > 0 && addProductToCart(producto.id)" [class.disabled]="producto.stock === 0"><i class="fa fa-shopping-cart"></i></a></li>
                      </ul>

                      <ul class="product__item__pic__hover " *ngIf="productosAnadidos.has(producto.id)">
                          <li >
                              <div class="alert alert-warning">
                                  <h6>Añadido al carrito</h6>
                              </div>
                          </li>
                      </ul>

                  </div>
                  <div class="product__item__text">
                      <h6><a href="#">{{producto.nombre_prod}}</a></h6>
                      <h5>{{producto.precio}} €</h5>
                  </div>
              </div>
          </div>
      </ng-container>
    </div>
  </div>
</section>
