<h1 class="row">TOP VENTAS</h1>
<!-- <div class="row gap-3 mt-3">

    <div class="card col">PEPE</div>
    <div class="card col">PEPE</div>
    <div class="card col">PEPE</div> -->

    <!-- <div class="card col">
        <div class="p-2">
        <img class="mb-2" src="../../assets/imagenes/Logo.jpg" alt="">
        <h3>Ibuprofeno 400mg</h3>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <h6 class="me-3"><s>  35 € </s></h6>
            <h4>30 € </h4>
        </div>
        
        <div class="botones d-flex">
            <button class="cart-button me-4">
                <span class="add-to-cart">Añadir</span>
                <span class="added">Añadido</span>
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-box"></i>
            </button>
            <button class="favorite-button">
                <div class="icon"><div class="star"></div></div>    
                <span>Favorito</span>
            </button>
        </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-3 card">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/imagenes/Simvastatina20mg.jpg" class="img-fluid" alt="">									
                </div>
                <div class="thumb-content">
                    <h4>Apple iPad</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"><del>$400.00</del> <b>$369.00</b></p>
                    <div class="botones d-flex">
                        <button class="cart-button me-4">
                            <span class="add-to-cart">Añadir</span>
                            <span class="added">Añadido</span>
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-box"></i>
                        </button>
                        <button class="favorite-button">
                            <div class="icon"><div class="star"></div></div>    
                            <span>Favorito</span>
                        </button>
                    </div>
                </div>						
            </div>
        </div>
        <div class="col-sm-3 card">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/imagenes/Simvastatina20mg.jpg" class="img-fluid" alt="Headphone">
                </div>
                <div class="thumb-content">
                    <h4>Sony Headphone</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"><del>$25.00</del> <b>$23.99</b></p>
                    <div class="botones d-flex">
                        <button class="cart-button me-4">
                            <span class="add-to-cart">Añadir</span>
                            <span class="added">Añadido</span>
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-box"></i>
                        </button>
                        <button class="favorite-button">
                            <div class="icon"><div class="star"></div></div>    
                            <span>Favorito</span>
                        </button>
                    </div>
                </div>						
            </div>
        </div>		
        <div class="col-sm-3 card">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/imagenes/Simvastatina20mg.jpg" class="img-fluid" alt="Macbook">
                </div>
                <div class="thumb-content">
                    <h4>Macbook Air</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"><del>$899.00</del> <b>$649.00</b></p>
                    <div class="botones d-flex">
                        <button class="cart-button me-4">
                            <span class="add-to-cart">Añadir</span>
                            <span class="added">Añadido</span>
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-box"></i>
                        </button>
                        <button class="favorite-button">
                            <div class="icon"><div class="star"></div></div>    
                            <span>Favorito</span>
                        </button>
                    </div>
                </div>						
            </div>
        </div>								
        <div class="col-sm-3 card">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/imagenes/Simvastatina20mg.jpg" class="img-fluid" alt="Nikon">
                </div>
                <div class="thumb-content">
                    <h4>Nikon DSLR</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"><del>$315.00</del> <b>$250.00</b></p>
                    <div class="botones d-flex">
                        <button class="cart-button me-4">
                            <span class="add-to-cart">Añadir</span>
                            <span class="added">Añadido</span>
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-box"></i>
                        </button>
                        <button class="favorite-button">
                            <div class="icon"><div class="star"></div></div>    
                            <span>Favorito</span>
                        </button>
                    </div>
                </div>						
            </div>
        </div>


        <div class="col-sm-3 card">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/imagenes/Simvastatina20mg.jpg" class="img-fluid" alt="">									
                </div>
                <div class="thumb-content">
                    <h4>Apple iPad</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"><del>$400.00</del> <b>$369.00</b></p>
                    <div class="botones d-flex">
                        <button class="cart-button me-4">
                            <span class="add-to-cart">Añadir</span>
                            <span class="added">Añadido</span>
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-box"></i>
                        </button>
                        <button class="favorite-button">
                            <div class="icon"><div class="star"></div></div>    
                            <span>Favorito</span>
                        </button>
                    </div>
                </div>						
            </div>
        </div>
        <div class="col-sm-3 card">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/imagenes/Simvastatina20mg.jpg" class="img-fluid" alt="Headphone">
                </div>
                <div class="thumb-content">
                    <h4>Sony Headphone</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"><del>$25.00</del> <b>$23.99</b></p>
                    <div class="botones d-flex">
                        <button class="cart-button me-4">
                            <span class="add-to-cart">Añadir</span>
                            <span class="added">Añadido</span>
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-box"></i>
                        </button>
                        <button class="favorite-button">
                            <div class="icon"><div class="star"></div></div>    
                            <span>Favorito</span>
                        </button>
                    </div>
                </div>						
            </div>
        </div>		
        <div class="col-sm-3 card">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/imagenes/Simvastatina20mg.jpg" class="img-fluid" alt="Macbook">
                </div>
                <div class="thumb-content">
                    <h4>Macbook Air</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"><del>$899.00</del> <b>$649.00</b></p>
                    <div class="botones d-flex">
                        <button class="cart-button me-4">
                            <span class="add-to-cart">Añadir</span>
                            <span class="added">Añadido</span>
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-box"></i>
                        </button>
                        <button class="favorite-button">
                            <div class="icon"><div class="star"></div></div>    
                            <span>Favorito</span>
                        </button>
                    </div>
                </div>						
            </div>
        </div>								
        <div class="col-sm-3 card">
            <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                    <img src="../../assets/imagenes/Simvastatina20mg.jpg" class="img-fluid" alt="Nikon">
                </div>
                <div class="thumb-content">
                    <h4>Nikon DSLR</h4>									
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <p class="item-price"><del>$315.00</del> <b>$250.00</b></p>
                    <div class="botones d-flex">
                        <button class="cart-button me-4">
                            <span class="add-to-cart">Añadir</span>
                            <span class="added">Añadido</span>
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-box"></i>
                        </button>
                        <button class="favorite-button">
                            <div class="icon"><div class="star"></div></div>    
                            <span>Favorito</span>
                        </button>
                    </div>
                </div>						
            </div>
        </div>
    </div>