<h1 class="row">TOP VENTAS</h1>
<div class="row gap-3 mt-3">
    <div class="card col">
        <div class="p-2">
        <img class="mb-2" src="../../assets/imagenes/Logo.jpg" alt="">
        <h3>Ibuprofeno 400mg</h3>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <h6 class="me-3"><s>  35 € </s></h6>
            <h4>30 € </h4>
        </div>
        
        <div class="botones d-flex">
            <button class="cart-button me-4">
                <span class="add-to-cart">Añadir</span>
                <span class="added">Añadido</span>
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-box"></i>
            </button>
            <button class="favorite-button">
                <div class="icon"><div class="star"></div></div>    
                <span>Favorito</span>
            </button>
        </div>
        </div>
    </div>
    <div class="card col">PEPE</div>
    <div class="card col">PEPE</div>
    <div class="card col">PEPE</div>
</div>