<h1 class="row">TOP VENTAS</h1>

<div class="row">
  <div class="col-sm-3 card" *ngFor="let producto of topVentaProducts">
    <div class="thumb-wrapper">
      <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
      <div class="img-box">
        <img [src]="urlPicture + producto.imagen_prod" class="img-fluid imagen_prod" [alt]="producto.nombre_prod" *ngIf="producto.imagen_prod">									
        <img src="../../assets/imagenes/NoProductImageAvailable.png" class="img-fluid imagen_prod" alt="producto.nombre_prod" *ngIf="!producto.imagen_prod">									
      </div>
      <div class="thumb-content">
        <h4>{{ producto.nombre_prod }}</h4>									
        <div class="star-rating">
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
          </ul>
        </div>
        <p class="item-price"><del class="me-3">{{ producto.precio }}€</del> <b>{{ producto.precio }}€</b></p>
        <div class="botones d-flex">
          <button class="cart-button me-4">
            <span class="add-to-cart">Añadir</span>
            <span class="added">Añadido</span>
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-box"></i>
          </button>
          <button class="favorite-button">
            <div class="icon"><div class="star"></div></div>    
            <span>Favorito</span>
          </button>
        </div>
      </div>						
    </div>
  </div>
</div>















<div class="row">
  <div class="col-md-3 col-sm-6">
      <div class="product-grid">
          <div class="product-image container">
              <a href="#" class="image">
                  <img class="pic-1" src="../../assets/imagenes/ibuprofeno.jpg">
              </a>
              <ul class="product-links">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="far fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                  <li><a href="#"><i class="fa fa-search"></i></a></li>
              </ul>
          </div>
          <div class="product-content">
              <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="far fa-star"></li>
              </ul>
              <h3 class="title"><a href="#">Women's Blouse Top</a></h3>
              <div class="price">$85.55</div>
          </div>
      </div>
  </div>
  <div class="col-md-3 col-sm-6">
      <div class="product-grid">
          <div class="product-image">
              <a href="#" class="image">
                  <img class="pic-1" src="images/img-3.jpg">
              </a>
              <ul class="product-links">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="far fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                  <li><a href="#"><i class="fa fa-search"></i></a></li>
              </ul>
          </div>
          <div class="product-content">
              <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="far fa-star"></li>
                  <li class="far fa-star"></li>
              </ul>
              <h3 class="title"><a href="#">Men's Jacket</a></h3>
              <div class="price">$88.88</div>
          </div>
      </div>
  </div>
</div>
