@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';


*{  
    text-decoration: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.container-menu{ 
    width: 90%; 
    height: auto; 
    margin: auto;
}

h6{
    font-weight: bold;
    padding-top: 5px;
}

.header{    
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    width: 100% !important; 
}

.menu-expansible > ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 80em;
    height: 10em;
    list-style: none;
}

.imagen-logo{
    mix-blend-mode: multiply;
}


.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
font-size: 2rem;
}

//CADA PRIMER LI DEL MENU//

.apartados{
    position: relative;
    text-transform: uppercase;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 300ms;
    z-index: 15;

}
.letras-animacion{
    overflow: hidden;
}

.apartados > a, .letras-animacion > h5{
    color: #262b4f;
    font-weight: bold;
}

.apartados > ul {
    display:none;
    list-style: none;
    background-color: #262b4f;
    width: 155%;
    border-radius: 0.5em;
    position: absolute;
    top: 2.30em;
    left: 0;
    overflow: visible;
}

.apartados > ul > li{
    padding: 0.6em;
}

.apartados:hover{
    background-color: #262b4f;
    color: white;
    .letras-animacion >h5{
        color: white;
        animation: fromLeft 500ms linear;
    }
    transform: scale(1.2,1.2);
}

.apartados:hover i, .apartado-cuenta > a:hover i{
    background-color: transparent;
    color: white;
}

@keyframes fromLeft{
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0%);
    }
}


//APARTADO INTERIOR, SEGUNDO LI//

.apartados:hover ul{
    display: block;
}

.apartados-interior > a{
    color: white;
}

.apartados-interior:hover a{
    font-weight: bold;
}


//BARRA BUSQUEDA//

.busqueda{
    display: flex;
    padding: 1em;
}

.busqueda > input{
    height: 2.5em;
    border-radius: 0.5em;
    padding-left: 0.5em;
    width: 18em;
    font-weight:500;
}

.busqueda > button{
    width: 6em;
    border-radius: 0.5em;
    background-color: #262b4f;
    color: white;
    transition: all 300ms;
}

.busqueda > button:hover{
    transform: scale(1.1,1.1);
    background-color: #262b4f;
    color: white;
    font-weight: bold;

}

//ANIMACIONES//

.pildora{
    animation-name: rotate-pill;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-pill{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

.apartados:hover i{
    animation: fromBellow 500ms linear;
}

@keyframes fromBellow{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}

.letras-animacion{
    padding: 10px;
    border-radius: 2em;
    box-sizing: border-box;
}


//LOGIN//


.apartado-cuenta, .apartado-cuenta-logeado{
    position: relative;
    text-transform: uppercase;
    border-radius: 0.5em;
    transition: all 300ms;
    z-index: 10;

}
.letras-animacion{
    overflow: hidden;
}

.apartado-cuenta > a, .letras-animacion > h5{
    color: #262b4f;
    font-weight: bold;
}

.apartado-cuenta > ul {
    display:none;
    list-style: none;
    background-color: #262b4f;
    width: 300%;
    border-radius: 0.5em;
    position: absolute;
    top: 2.30em;
    right: 0;
    overflow: visible;
    text-align: center;
}


.apartado-cuenta-logeado > ul {
    display:none;
    list-style: none;
    background-color: #262b4f;
    width: auto;
    border-radius: 1em;
    position: absolute;
    top: 4em;
    right: 0;
    overflow: visible;
    text-align: center;
}

.apartado-cuenta > ul > li, .apartado-cuenta-logeado > ul > li{
    padding: 0.5em;
}

.apartado-cuenta:hover, .apartado-cuenta:hover i, .apartado-cuenta-logeado:hover, .apartado-cuenta-logeado:hover i{
    background-color: #262b4f;
    color: white;
    .letras-animacion >h5{
        color: white;
    }
    transform: scale(1.2,1.2);
}

.profile-picture{
    border-radius: 4em;
    height: 3em;
    margin-right: 0.5em;
}

.letras-animacion > h5{
    align-self: center;
}

//APARTADO INTERIOR CUENTA, SEGUNDO LI//

.apartado-cuenta:hover ul, .apartado-cuenta-logeado:hover ul{
    display: block;
}


.apartado-cuenta-interior:hover a{
    font-weight: bold;
}


.apartado-cuenta-interior button{
    width: 18.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: white;
}

.apartado-cuenta-interior > button > i{
    background-color: transparent;
    color:#262b4f;
}

.apartado-cuenta-interior button:hover{
    color: white;
    background-color: rgb(255, 160, 122, 0.2);
    font-weight: bold;
    i{
        background-color: transparent;
        color: white;
    }
}

.google-facebook > button > i{
    color: #262b4f;
    background-color: white;
}




@media (min-width: 375px) and (max-width: 809px) {
    .menu-expansible {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3rem;
        ul{
            width: 100%;
            flex-wrap: wrap;
            li:nth-child(4){
                order: 5;
            }
        }
    }

    .apartados{
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 0.5rem !important;
    }


    .apartados > ul{
        width: 135% ;
        z-index: 999 !important;
    }

    .apartados-interior > a{
        width: 60rem !important;
        z-index: 20 !important;
        font-size: 13px !important;
    }

    .letras-animacion > h5{
        font-size: 17px !important;
    }

    .busqueda{
        input{
            width: 70%;
        }
    }

    .apartado-cuenta-logeado{
        width: 50%;
    }

    .apartado-cuenta-logeado h5{
        font-size: 13px !important;
    }

    .profile-picture{
        width: 25%;
        height: 25%;
    }

    .apartado-cuenta-logeado> ul{
        li{
            width: 50%;
            button{
                width: 200%;
                height: 10%;
            }
        }
        width: 100%;
        border-radius: 0.5em;
    }



}




@media (min-width: 800px) and (max-width: 1200px) {

    .menu-expansible {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-bottom: 3rem;
        ul{
            width: 100%;
            flex-wrap: wrap;
        }
    }


    .apartados{
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 0.5rem !important;
    }


    .apartados > ul{
        width: 135% ;
        z-index: 999 !important;
    }

    .apartados-interior > a{
        width: 60rem !important;
        z-index: 20 !important;
        font-size: 13px !important;
    }

    .letras-animacion > h5{
        font-size: 17px !important;
    }

    .barra{
        width: 70%;
    }

    .busqueda{
        width: 100%;
        input{
            width: 70%;
        }
    }

    .apartado-cuenta-logeado> ul{
        li{
            width: 58%;
            button{
                width: 200%;
                height: 10%;
                font-size: 15px;
            }
        }
        width: 100%;
        border-radius: 0.5em;
    }


    .apartado-cuenta> ul{
        width: 130%;
        li{
            text-align: center;
            width: 100%;
            button{
                width: 100%;
                height: 10%;
                font-size: 15px;
            }
        }
        border-radius: 0.5em;
    }


}

