@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{  
    text-decoration: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container-menu{ 
    width: 90%; 
    height: auto; 
    margin: auto; 
}

.header{    
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: center; 
    height: auto; 
}

.logo-signup{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;  
}

.logo-signup > a > img {
    display: flex;
    height: 8rem;
    justify-content: end;
}

.logo-signup > h4 {
    font-weight: lighter;
    color: #1a1d32;
}

.bodyformulario {
    background-color: rgb(255, 160, 122, 0.2);
}

.botonformulario {
    display: block;
    margin-top: 1%;
    width:20%;
    padding: 1.5%;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(48, 124, 126, 0.938);
    color: white;
    cursor: pointer;
}

.formulario > p {
    margin: 5% 0;
    width: 60%;
    font-size: small;
}

.formulario > p > a{
    color: #1a1d32;
}


.logo{
    padding: 5px; 
    
}

.menu-expansible {
    flex-grow: 1; 
    flex-basis: 80%; 
}

.menu-expansible ul {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: space-between; 
    height: 100%; 
    list-style: none; 
}

.menu-expansible a { 
    text-transform: uppercase; 
    color: #262b4f; 
    background-color: white;
    padding: 15px; 
    transition: all 300ms; 
    text-decoration: none;
}

.menu-expansible a:hover{ 
    background-color: pink; 
    color: white; 
}

.menu-expansible li{ 
    display: flex; 
    flex-direction: column; 
    position: relative; 
}

.submenu{ 
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: -23.25%; 
    top: 100%; 
    text-align: left; 
    width: 200%;
    
}

.submenucrud{
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: -36%; 
    top: 100%; 
    text-align: left; 
    width: 170%;
}

.listacruds{ 
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: -23.25%; 
    top: 100%; 
    text-align: left; 
    width: 150%;
    
}

.submenulista{
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: 85%; 
    top: 0; 
    text-align: left; 
    width: 150%;   
}


.login {
    position:relative;
}

.submenulogin {
    display: inline-block;
    position: absolute;
    z-index: 999;
    top:100%;
    right:0%;
    width: 220%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.submenulogin > li {
    text-align: left;
    background-color: white;
    z-index:1;
    margin: 0;
}

.submenulogin form {
    margin: auto;
    text-align: left;
    background-color: white;
}

.submenulogin > li > i{
    padding-top: 5%;
    text-align: center;
}

.submenulogin form i{
    padding-top: 5%;
    text-align: center;
}


.submenulogin > li > input {
    border-radius: 15px;
    text-align: center;
    width: 58%;
    margin-left: 21%;
    padding: 3%;
}

.submenulogin form input {
    border-radius: 15px;
    text-align: center;
    width: 58%;
    margin-left: 21%;
    padding: 3%;
}

.submenulogin > li > a > button {  
    width: 100%;
    padding: 3%;
    font-size: large;
    background-color: rgb(255, 160, 122, 1);
    /*background: linear-gradient(to bottom, #262b4f 0%, rgba(48, 124, 126, 0.938) 100%); /*Con la funcion linear-gradient dentro del background, puedo hacer que el boton empiece por un color y termine en otro. En esta línea indico que se ejecutará desde arriba hacia abajo de modo que empieze por el color azul marino y termine en un azul clarito*/
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.submenulogin form button {  
    width: 100%;
    padding: 3%;
    font-size: large;
    background-color: rgb(255, 160, 122, 1);
    /*background: linear-gradient(to bottom, #262b4f 0%, rgba(48, 124, 126, 0.938) 100%); /*Con la funcion linear-gradient dentro del background, puedo hacer que el boton empiece por un color y termine en otro. En esta línea indico que se ejecutará desde arriba hacia abajo de modo que empieze por el color azul marino y termine en un azul clarito*/
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 0;
}


.submenulogin > li > h4 {
    padding-left: 12%;
    margin: 0;
}

.submenulogin > li > p {
    margin-top: 3%;
    padding-left: 3%;
    margin-bottom: 5%;
}

#carouselExampleFade {
    z-index: 0;
}

#ó {
    text-align: center;
    margin: 0;
    padding: 0;
}

.google-apple > button{
    width: 40%;
    padding: 3%;
    border-radius: 15px;
    margin-left: 6%; 
    cursor: pointer;
}

#parrafo-google-apple{
    margin-top: 0;
    margin-left: 5%;
}

.menu-expansible li .submenu{ 
    display: none; 
}

.menu-expansible li .submenulogin{ 
    display: none; 
}

.menu-expansible li .submenucrud{ 
    display: none; 
}

.menu-expansible li .listacruds{ 
    display: none; 
}

.menu-expansible li:hover .submenu{ 
    display: block; 
}

.menu-expansible li:hover .submenulogin{ 
    display: block; 
}

.menu-expansible li:hover .submenucrud{ 
    display: block; 
}

.menu-expansible li:hover .listacruds{ 
    display: block; 
}

.listacruds li .submenulista{ 
    display: none; 
}

.listacruds li:hover .submenulista{ 
    display: block; 
}

.submenulogin input{    
    width: 100%;    
    height: auto;   
    margin-top: 3px;    
    margin-bottom: 10px;   
}


.submenulogin a{
    text-transform: initial; 
    padding:0;  
    margin:0;   
    background-color: rgb(255, 160, 122, 0.2);
}

.submenulogin a:hover{ 
    background-color: white;
    color: #262b4f;
}

