<div class="container-menu">
  <div class="text-end me-4 ">
      <h6>Fecha Inicio: </h6>
  </div>

  <div class="header">
    <div class="logo">
        <a href="#"><img src="../assets/imagenes/Logo.jpg" alt="logotipo web"/></a>
    </div>
    <div class="menu-expansible">
        <ul>
            <li class="apartados ms-5"><a href="#"><div class="letras-animacion d-flex"><h5 class="me-2">Categorías</h5> <i class="fa-solid fa-list"></i></div></a>
                <ul>
                    <li class="apartados-interior"><a href="#">Cosmética y Belleza</a>
                    </li>
                    <li class="apartados-interior"><a href="#">Salud e Higiene</a>
                    </li>
                    <li class="apartados-interior"><a href="#">Bebé y Mamá</a>
                    </li>
                    <li class="apartados-interior"><a href="#">Vitaminas y Suplementos</a>
                    </li>
                </ul>
            </li>
            <li class="apartados ms-4"><a href="#"><div class="letras-animacion d-flex"> <h5 class="me-2">Promociones</h5> <i class="fa-solid fa-percent"></i></div></a>
            </li>
            <li class="apartados"><a href="#"><div class="letras-animacion d-flex"><h5 class="me-2">Productos</h5><i class="pildora fa-solid fa-pills"></i></div></a>
                <ul>
                    <li class="apartados-interior"><a href="#">Crear Producto</a></li>
                    <li class="apartados-interior"><a href="#">Busq. Avanzada Producto API</a></li>
                </ul>
            </li>    
            <li>
                <form action="#" class="busqueda" role="search" method="GET">
                  <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Busca entre nuestros productos"  aria-label="Search">
                  <button class="btn btn-light btn-outline-dark" type="submit">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </li>

            <li class="apartados"><a href="#"> <div class="letras-animacion d-flex"><i class="me-2 fa-regular fa-user"></i><h5> Cuenta</h5></div> </a>
                <ul>
                    <li><h4>¿Todavía no conoces nuestras ventajas?</h4></li>
                    <li><a href="#"><button>¡Empieza ya!</button></a></li>
                    <li>
                        <p id="ó"><b> O usar </b></p>
                    </li>
                    <li>
                        <div class="google-apple">
                            <button><a href="#"><i class="fa-brands fa-google fa-2xl"></i></a></button>
                        </div>
                    </li>
                    <li>
                        <div class="google-apple">
                            <button><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></button>
                        </div>
                    </li>
                    <li><a class="desconectarse mt-4" href="#"><button>Desconectarse</button></a></li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
</div>




<router-outlet></router-outlet>