<div class="container-menu">
  <div class="text-end">
      <h6>Fecha Inicio: </h6>
  </div>

  <div class="header">
      <div class="logo">
        <i class="bi bi-person-circle"></i>
          <a href="#"><img src="#" alt="logotipo web"/></a>
      </div>
      <div class="menu-expansible">
          <ul>
              <li><a href="#"> Ejercicios <i class="fa-solid fa-chevron-down"></i></a>
                  <ul class="submenu">
                      <li></li>
                  </ul>
              </li>
              <li><a href="#">Lista de Solicitudes API <i class="fa-solid fa-chevron-down"></i></a>
                  <ul class="listacruds">
                      
                      <li><a href="#">Farmacias</a>
                          <ul class="submenulista">
                              <li><a href="#">Lista de Farmacias API</a> </li>
                              <li><a href="#">Crear Farmacia API</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Votaciones</a>
                          <ul class="submenulista">
                              <li><a href="#">Lista de Votaciones API Mejorado</a></li>
                              <li><a href="#">Crear Votacion API</a></li>
                              <li><a href="#">Busq. Avanzada Votacion</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Empleados</a>
                          <ul class="submenulista">
                              <li><a href="#">Lista de Empleados API</a> </li>
                              <li><a href="#">Lista de Empleados API Mejorado</a> </li>
                              <li><a href="#">Busq. Avanzada Producto</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Clientes</a>
                          <ul class="submenulista">
                              <li><a href="#">Lista de Clientes API Mejorado</a> </li>
                              <li><a href="#">Lista de Clientes Promocion Cumple</a> </li>

                          </ul>
                      </li>

                      <li><a href="#">Promociones</a>
                          <ul class="submenulista">
                              <li><a href="#">Lista de Promociones API Mejorado</a> </li>
                              <li><a href="#">Promocion Birthday Clientes</a> </li>
                          </ul>
                      </li>
                      <li><a href="#">Tratamientos</a>
                          <ul class="submenulista">
                              <li><a href="#">Lista de Tratamientos API Mejorado</a> </li>
                              <li><a href="#">Crear Tratamiento API Mejorado</a> </li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li><a href="#">Productos <i class="fa-solid fa-chevron-down"></i></a>
                  <ul class="submenucrud">
                      <li><a href="#">Lista de Productos API</a></li> 
                      <li><a href="#">Lista de Productos API Mejorado</a></li> 

                      <li><a href="#">Crear Producto API</a></li>

                      <li><a href="#">Busq. Avanzada Producto API</a></li>
                  </ul>
              </li>    
              <li>
                  <form action="#" class="d-flex m-3" role="search" method="GET">
                    <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
                  </form>
              </li>

              <li class="login mt-2"><a href="#"><i class="fa-regular fa-user"></i> Cuenta </a>
                  <ul class="submenulogin" style="width: 20em; padding-top:1.5em;">
                      <li><h4>¿Todavía no conoces nuestras ventajas?</h4></li>
                      <li><a href="#"><button>¡Empieza ya!</button></a></li>
                      <li>
                          <p id="ó"><b> O usar </b></p>
                      </li>
                      <li>
                          <div class="google-apple">
                              <button><a href="#"><i class="fa-brands fa-google fa-2xl"></i></a></button>
                          </div>
                      </li>
                      <li>
                          <div class="google-apple">
                              <button><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></button>
                          </div>
                      </li>
                      <li><a class="desconectarse mt-4" href="#"><button>Desconectarse</button></a></li>
                  </ul>
              </li>

          </ul>
      </div>
      
  </div>
</div>



<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<router-outlet></router-outlet>