    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Nombre: {{ producto.nombre_prod}}</h4>
            <h6 class="card-subtitle mb-2">Descripcion: {{ producto.descripcion}}</h6>
            <p class="card-text">Precio: {{ producto.precio }}€</p>
            <p class="card-text">Farmacia: {{ producto.farmacia_prod.nombre_farm}}</p>
            {% for proveedor in producto.prov_sum_prod.all %}
            <p class="card-text">Proveedor: {{ proveedor.nombre_prov }}</p>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated and perms.App_Farmacia.add_producto %}
        <div class="botones btn-group">             
            <button type="button" class="btn btn-outline-primary"> 
                <a class="text-decoration-none" href="{% url 'producto_editar' producto.id %}" ><span class="text-dark">Editar</span></a>
            </button>

            <form action = "{% url 'producto_eliminar' producto.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    <span>Eliminar</span>
                </button>
            </form>
        </div>
        {% endif %}
    </div>
