{% load socialaccount %}
{% providers_media_js %}
{% load static %}
{% load bootstrap5 %}
{% block contenido %}
<div class="container-menu">
    <div class="text-end">
        <h6>Fecha Inicio: {{ request.session.fecha_inicio}}</h5>
            {% if request.user.is_authenticated %}
            {% endif %}
    </div>
    <div class="header">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'imagenes/Logo.jpg' %}" alt="logotipo web"/></a>
        </div>
        <div>
        
        </div>
        <div class="menu-expansible">
            <ul>
                <li><a href="#"> Ejercicios <i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="{% url 'farmacias_ordenadas_fecha' %}">1 -- Farmacias ordenadas por fecha de creacion </a></li>
                        <li><a href="{% url 'gerentes_nombre' 'low' %}"> 2 -- Gerentes filtrados por nombre "low" </a></li>
                        <li><a href="{% url 'farmacias_con_gerentes' %}"> 3 -- Farmacias con sus gerentes </a></li>
                        <li><a href="{% url 'productos_con_proveedores' %}"> 4 -- Productos con sus proveedores </a></li>
                        <li><a href="{% url 'empleados_compras' %}"> 5 -- Empleados y sus compras </a></li>
                        <li><a href="{% url 'detalle_compra' 5 %}"> 6 -- Detalle de Compra '5' </a></li>
                        <li><a href="{% url 'clientes_productosfavoritos' %}"> 7 -- Clientes y sus Productos favoritos </a></li>
                        <li><a href="{% url 'empleados_salariosuperior' 3000 %}"> 8 -- Empleados con salario superior a 3000€ </a></li>
                        <li><a href="{% url 'productos_disponibles_farmacia_especifica' 1 %}"> 9 -- Productos disponible en farmacia '1' </a></li>
                        <li><a href="{% url 'compras_entre_fechas' '2010-01-01' '2020-12-31' %}"> 10 -- Compras realizadas entre fechas (2010 - 2020) </a></li>
                        <li><a href="{% url 'ultimo_voto_producto_concreto' 15 %}"> EXAMEN -- ULTIMO VOTO A PRODUCTO CONCRETO </a></li>
                        <li><a href="{% url 'productos_con_puntuacion_3_cliente_concreto' 14 %}"> EXAMEN -- MODELOS PRINCIPALES CON VOTOS IGUAL A 3 CLIENTE CONCRETO</a></li>
                        <li><a href="{% url 'clientes_nunca_votaron' %}"> EXAMEN -- CLIENTES NUNCA VOTARON </a></li>
                    </ul>
                </li>
                <li><a href="#">Lista de C.R.U.D.S <i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="listacruds">
                        {% if request.user.is_authenticated and perms.App_Farmacia.add_administrador %}
                        <li><a href="#">Administradores</a>
                            <ul class="submenulista">
                                <li><a href="{% url 'administrador_create' %}">Crear Administrador</a></li>
                                <li><a href="{% url 'administrador_buscar_avanzado' %}">Busq. Avanzada Administrador</a></li>
                                <li><a href="{% url 'lista_administradores' %}">Ver Administradores</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if request.user.is_authenticated and perms.App_Farmacia.add_gerente %}
                        <li><a href="#">Gerentes</a>
                            <ul class="submenulista">
                                <li><a href="{% url 'gerente_create' %}">Crear Gerente</a></li>
                                <li><a href="{% url 'gerente_buscar_avanzado' %}">Busq. Avanzada Gerente</a></li>
                                <li><a href="{% url 'lista_gerentes' %}">Ver Gerentes</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="#">Farmacias</a>
                            <ul class="submenulista">
                                {% if request.user.is_authenticated and perms.App_Farmacia.add_farmacia %}
                                <li><a href="{% url 'farmacia_create' %}">Crear Farmacia</a></li>
                                {% endif %}
                                <li><a href="{% url 'farmacia_buscar_avanzado' %}">Busq. Avanzada Farmacia</a></li>
                                <li><a href="{% url 'lista_farmacias' %}">Ver Farmacias</a></li>
                            </ul>
                        </li>
                        {% if request.user.is_authenticated and perms.App_Farmacia.add_empleado%}
                        <li><a href="#">Empleados</a>
                            <ul class="submenulista">
                                <li><a href="{% url 'empleado_create' %}">Crear Empleado</a></li>
                                <li><a href="{% url 'empleado_buscar_avanzado' %}">Busq. Avanzada Empleado</a></li>
                                <li><a href="{% url 'lista_empleados' %}">Ver Empleados</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="#">Votaciones</a>
                            <ul class="submenulista">
                                {% if request.user.is_authenticated %}
                                <li><a href="{% url 'votacion_create' %}">Crear Votacion</a></li>
                                {% endif %}
                                <li><a href="{% url 'votacion_buscar_avanzado' %}">Busq. Avanzada Votaciones</a></li>
                                <li><a href="{% url 'lista_votaciones' %}">Ver Votaciones</a></li>
                            </ul>
                        </li>
                        {% if request.user.is_authenticated and perms.App_Farmacia.add_cliente%}
                        <li><a href="#">Clientes</a>
                            <ul class="submenulista">
                                <li><a href="{% url 'cliente_create' %}">Crear Cliente</a></li>
                                <li><a href="{% url 'cliente_buscar_avanzado' %}">Busq. Avanzada Clientes</a></li>
                                <li><a href="{% url 'lista_clientes' %}">Ver Clientes</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="#">EXAMEN - PROMOCION</a>
                            <ul class="submenulista">
                                {% if request.user.is_authenticated and perms.App_Farmacia.add_promocion %}
                                <li><a href="{% url 'promocion_create' %}">Crear Promocion</a></li>
                                {% endif %}
                                <li><a href="{% url 'promocion_buscar_avanzado' %}">Busq. Avanzada Promociones</a></li>
                                <li><a href="{% url 'lista_promociones' %}">Ver Promociones</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Productos <i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="submenucrud">
                        {% if request.user.is_authenticated and perms.App_Farmacia.add_producto %}
                        <li><a href="{% url 'producto_create' %}">Crear Producto</a></li>
                        {% endif %}
                        <li><a href="{% url 'producto_buscar_avanzado' %}">Busq. Avanzada Producto</a></li>
                        <li><a href="{% url 'lista_productos' %}">Ver Productos</a></li>
                    </ul>
                </li>
                
                <li>            
                    <form action="{% url 'producto_buscar' %}" class="d-flex mt-2" role="search" method="GET">
                    <input name="textoBusqueda" class="form-control" type="search" placeholder="Busque aquí su producto" aria-label="Search">
                    <button class="btn btn-light btn-outline-dark ms-2" type="submit">Buscar</button>
                    </form>
                </li>           
                <li class="login mt-2"><a href="#"><i class="fa-regular fa-user"></i> Cuenta </a>
                    <ul class="submenulogin">
                        {% if not request.user.is_authenticated %}
                        {% include 'registration/login_menu.html' %}
                        <li><h4>¿Nuevo cliente?</h4></li>
                        <li><p>Crea una cuenta en segundos.</p></li>
                        <li><a href="{% url 'registrar_usuario' %}"><button>Crear Cuenta</button></a></li>
                        <li><p id="ó"><b> O usar </b></p></li>
                        <li><p id="parrafo-google-apple">
                                <div class="google-apple">
                                    <button><a href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google fa-2xl"></i></a></button>
                                    <button><i class="fa-brands fa-apple fa-2xl"></i></button>
                                </div>
                            </p>
                        </li>
                        {% endif%}
                        {% if request.user.is_authenticated %}
                        <li><a class="desconectarse mt-4" href="{% url 'logout' %}"><button>Desconectarse</button></a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
</div>
{% endblock %}