{% load static%}
<div class="footer">
    <div class="contenedorpie">

        <div class="mifarma">
            <img src="{% static 'imagenes/Logo.jpg' %}" alt="">
            <p>P.Sur Pharmacy Espanya</p>
        </div>
        <div class="linea-top">
            <hr/>
        </div>
        

        <div class="servicio">
            <h2>Servicio & contacto</h2>
            <p><a href="">Preguntas frecuentes</a></p>
            <p><a href="">Contáctanos por e-mail</a></p>
            <p><a href="">Habla con nosotros +34 955 123 456</a></p>
            <p>L-V 09:00h - 18:00h</p>
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6342.763463510203!2d-5.980508029460926!3d37.357143493999416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126e6324845c63%3A0xec11c55d97d1a400!2sFarmacia!5e0!3m2!1ses!2ses!4v1700120217539!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="legal">
            <h2>Legal</h2>
            <p><a href="">Entrega y devolución</a></p>
            <p><a href="">Términos y condiciones</a></p>
            <p><a href="">Política de cookies</a></p>
            <p><a href="">Privacidad</a></p>
            <p><a href="">Bases Legales</a></p>
        </div>

        <div class="psur">
            <h2>Polígono Sur Pharmacy</h2>
            <p><a href="">Sobre nosotros</a></p>
            <p><a href="">Promociones</a></p>
            <p><a href="">Descarga nuestra APP</a></p>
            <p><a href="">Blog</a></p>
            <p><a href="">Diccionario de Farmacia</a></p>
            <p><a href="">Black Friday</a></p>
        </div>

        <div class="siguenos">
            <h2>Síguenos</h2>
            <p>
            <a href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
            <a href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
            <a href=""><i class="fa-brands fa-pinterest fa-2xl"></i></a>
            </p>
            <p>
            <a href=""><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
            <a href=""><i class="fa-brands fa-youtube fa-2xl"></i></a>
            <a href=""><i class="fa-brands fa-tiktok fa-2xl"></i></a>
            </p>
        </div>

        <div class="linea-medium">
            <hr/>
        </div>
        
        <div class="entregas">
            <h4><i class="fa-solid fa-truck-fast "></i> Entregas de 24-48h</h4>
            <p>Envíos gratuitos a partir de 49€</p>
            <p><i class="fa-brands fa-fedex fa-2xl"></i></p>
            <p><i class="fa-brands fa-dhl fa-2xl"></i></p>
            
        </div>

        <div class="confianza">
            <p><i class="fa-regular fa-circle-check"></i> Tienda de confianza</p>
            <p>Solo ofrecemos métodos de pago seguros y de confianza</p>
        </div>
        
        
        <div class="opiniones">
            <p>Opiniones de los usuarios</p>
            <p><i class="fa-brands fa-google fa-xl"></i> 4,86 / 5.00</p>
        </div>

        <div class="linea-bottom">
            <hr/>
        </div>

        <div class="pago">
            <h2>&copy;P.SUR PHARMACY</h2>
            <p><i class="fa-solid fa-lock"></i> Pago seguro: <i class="fa-brands fa-cc-visa fa-2xl"></i> <i class="fa-brands fa-cc-mastercard fa-2xl"></i> <i class="fa-brands fa-cc-amex fa-2xl"></i> <i class="fa-brands fa-cc-paypal fa-2xl"></i></p>
        </div>
    </div>
</div>
