<div class="container py-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6 recuadro">
            <div class="card" id="chat2">
                <div class="card-header d-flex justify-content-between align-items-center p-3 input-mensajes">
                    <h5 class="mb-0 input-mensajes fw-bold">Doc - OpenAI</h5>
                </div>
                <div class="card-body" data-mdb-perfect-scrollbar-init style="position: relative; height: 500px; overflow-y: auto; ">
                    <ng-container *ngFor="let message of messages" >
                        <div class="d-flex flex-row justify-content-{{ message.author === 'user' ? 'end' : 'start' }} w-100 mensajes" >

                            <img *ngIf="message.author === 'user' && !picture "
                                src="../../assets/imagenes/usuario-noimg.webp" alt="avatar 1"
                                style="width: 45px; height: 100%; border-radius: 2rem;">

                            <img *ngIf="message.author === 'user' && (picture && (source === 'google' || source === 'facebook')) "
                                [src]="picture" alt="avatar 1" style="width: 45px; height: 100%; border-radius: 2rem;">

                            <img *ngIf="message.author === 'user' && (picture && source === 'app') " [src]="url + picture"
                                alt="avatar 1" style="width: 45px; height: 100%; border-radius: 2rem;">

                            <img *ngIf="message.author === 'bot'" src="../../assets/imagenes/chatbot.avif" alt="avatar 1"
                                style="width: 45px; height: 100%; border-radius: 2rem;">

                            <div>
                                <p class="small p-2 {{ message.author === 'user' ? 'me-3' : 'ms-3' }} mb-1 rounded-3"
                                    [style.background-color]="message.author === 'user' ? '#f5f6f7' : '#ADD8E6'"
                                    [style.color]="message.author === 'user' ? 'black' : 'black'" [innerHTML]="message.text">{{ message.text }}</p>
                                <p
                                    class="small {{ message.author === 'user' ? 'me-3' : 'ms-3' }} mb-3 rounded-3 text-muted d-flex justify-content-{{ message.author === 'user' ? 'end' : 'start' }}">
                                    {{ message.time }}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3 input-mensajes">
                    <div class="me-3">
                        <img *ngIf="!token" src="../../assets/imagenes/usuario-noimg.webp" alt="avatar 1" style="width: 45px; height: 100%; border-radius: 2rem;">
                        
                        <img *ngIf="token && !picture" src="../../assets/imagenes/usuario-noimg.webp" alt="avatar 1" style="width: 45px; height: 100%; border-radius: 2rem;">

                        <img *ngIf="token && (picture && (source === 'google' || source === 'facebook'))" [src]="picture" alt="avatar 1" style="width: 45px; height: 100%; border-radius: 2rem;">

                        <img *ngIf="token && (picture && source === 'app') " [src]="url + picture" alt="avatar 1" style="width: 45px; height: 100%; border-radius: 2rem;">
                        
                    </div>

                    <div *ngIf="!token">
                        <span style="cursor: pointer; color: blue; text-decoration:underline;" (click)="login()">Iniciar sesión</span>
                    </div>

                    <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Escribe tu pregunta..." [(ngModel)]="messageText" (keyup.enter)="sendMessage($event)" maxlength="250" *ngIf="token">

                    <span class="text-muted ms-3" style="font-size:0.8rem; width:10rem" *ngIf="token">{{ 250 - messageText.length }} characters left</span>
                    <a class="ms-3" (click)="sendMessage($event)" *ngIf="token"><i class="fas fa-paper-plane" style="cursor: pointer;"></i></a>

                </div>
            </div>
        </div>
    </div>
</div>