.container{
    margin-right: 40rem !important;
    width: 100%;
    height: 100%;
}

.row{
    padding: 0;
    margin: 0;
    width: 100% !important;
}

.card{
    text-align: center;
    margin: 0;
    padding: 0;
    width: 198% !important;
}

.card-body{
    padding: 0.5rem;
    margin: 0;
    width: 100% !important;
}

.recuadro{
    margin: 0;
    padding: 0;
    margin-right: 14.5rem !important;
    text-align: center;
}

.mensajes{
    width: 100% !important;
}

.input-mensajes{
    width: 100% !important;
}

.small{
    text-align: left;
    width: 95% !important;
    word-wrap: break-word;
    max-width: 44vh;
}


@media (min-width: 375px) and (max-width: 809px) {

    .card{
        width: 100% !important;
    }

    .recuadro{
        margin: 0 !important;
    }
}


@media (min-width: 800px) and (max-width: 1200px) {

    .container{
        width: 200% !important;
    }

    .row{
        height: 100% !important;
    }

    .card{
        width: 100% !important;
    }

    .recuadro{
        margin: 0 !important;
    }
}