.container{
    margin-right: 40rem !important;
    width: 100%;
    height: 100%;
}

.row{
    padding: 0;
    margin: 0;
    width: 100% !important;
}

.card{
    text-align: center;
    margin: 0;
    padding: 0;
    padding-right: 50% !important;
    width: 198% !important;
}

.recuadro{
    margin: 0;
    padding: 0;
    margin-right: 14.5rem !important;
    text-align: center;
}

.mensajes{
    width: 137% !important;
}

.input-mensajes{
    width: 134% !important;
}