img{
    width: 10em;
    height: 10em;
}
.progress-orange::-webkit-progress-value {
    background-color: orange !important;
}

.progress-red::-webkit-progress-value {
    background-color: red !important;
}

.progress-green::-webkit-progress-value {
    background-color: green !important;
}

.busqueda{
    display: flex;
    margin-right: 1em;
    margin-top: 1em;
    button{
        width: 10em;
    }
}