img{
    width: 10em;
    height: 10em;
}
.progress-orange::-webkit-progress-value {
    background-color: yellow ;
}

.progress-red::-webkit-progress-value {
    background-color: rgba(236, 35, 35, 0.795) !important;
}

.progress-green::-webkit-progress-value {
    background-color:  lightgreen !important;
}

.busqueda{
    display: flex;
    margin-right: 1em;
    margin-top: 1em;
    button{
        width: 10em;
    }
}