img{
    width: 10em;
    height: 10em;
}
.progress-orange::-webkit-progress-value {
    background-color: orange !important;
}

.progress-red::-webkit-progress-value {
    background-color: red !important;
}

.progress-green::-webkit-progress-value {
    background-color: green !important;
}