{% extends "principal.html" %}

{% block contenido %}
{% load bootstrap5 %}

<form action ="{% url 'empleado_editar' empleado.id %}" method = "post">
    {% csrf_token %}
    <div class="container">
        <div class="mb-4">
            <p>Nombre y apellidos <h4>{{ formulario.instance.usuario.first_name }}</h4></p>
        </div>

        <div class="mb-4">
            <p>Email <h4>{{ formulario.instance.usuario.email }}</h4></p>
        </div>

        <div class="mb-4">
            <p>Fecha de Registro <h4>{{ formulario.instance.usuario.date_joined }}</h4></p>
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.direccion_emp show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.telefono_emp show_label=True %}
        </div>


        <div class="mb-4">
            {% bootstrap_field formulario.salario show_label=True %}
        </div>
        
        <div class="mb-4">
            {% bootstrap_field formulario.farm_emp show_label=True %}
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>


{% endblock %}