<div class="container" id="container">
  <div class="form-container sign-up" >
    <form class="custom-form" [formGroup]="FormRegister" (ngSubmit)="register()">
      <h1 class="creacuenta">Crea tu cuenta</h1>

      <span>rellena este formulario para registrarte</span>

      
      <div class="d-flex mb-4 mt-3 justify-content-between">
        <div class="ele-form me-5">
          <div class="form-group">
            <label for="register_name">Nombre</label>
            <input type="text" class="form-control" id="register_name" name="register_name" formControlName="register_name"/>
          </div>
          <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_name')!.touched && FormRegister.get('register_name')!.hasError('required')">
            <h6>Necesita rellenar este campo.</h6>
          </div>
                   
        </div>
        <div class="ele-form">
          <div class="form-group">
            <label for="register_email">Email</label>
            <input type="email" class="form-control" id="register_email" name="register_email" formControlName="register_email"/>
          </div>
          <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_email')!.touched && FormRegister.get('register_email')!.hasError('required')">
            <h6>Necesita rellenar este campo.</h6>
          </div>
          <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_email')!.touched && FormRegister.get('register_email')!.hasError('invalidFormatEmail')">
            <h6>Correo electrónico no válido.</h6>
          </div>
          <div class="validaciones alert alert-danger" *ngIf="invalidEmail">
            <h6>{{ errorMessageEmail }}</h6>
          </div>
        </div>
      </div>


      <div class="d-flex mb-4 justify-content-between">
        <div class="ele-form me-5">
          <div class="phone-form">
            <label for="register_phone">Telefono</label>
              <input type="text" class="form-control" id="register_phone" name="register_phone" formControlName="register_phone"/>
          </div>
          <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_phone')!.touched && FormRegister.get('register_phone')!.hasError('required')">
            <h6>Necesita rellenar este campo.</h6>
          </div>
          <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_phone')!.touched && FormRegister.get('register_phone')!.hasError('invalidFormatPhone')">
            <h6>Introduzca un teléfono válido.</h6>
          </div>
          <div class="validaciones alert alert-danger" *ngIf="invalidPhone">
            <h6>{{ errorMessagePhone }}</h6>
          </div>
        </div>

        <div class="birthday-form">
          <div class="form-group">
            <label for="register_phone">Fecha nac.</label>
              <input type="date" class="form-control" id="register_birthday" name="register_birthday" formControlName="register_birthday"/>
          </div>
          <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_birthday')!.touched && FormRegister.get('register_birthday')!.hasError('required')">
            <h6>Necesita rellenar este campo.</h6>
          </div>
        </div>
      </div>


      <div class="dom-nom-form">
        <div class="form-group">
          <label for="register_name">Domicilio</label>
            <input type="text" class="form-control" id="register_adress" name="register_adress" formControlName="register_adress"/>
        </div>
        <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_adress')!.touched && FormRegister.get('register_adress')!.hasError('required')">
          <h6>Necesita rellenar este campo.</h6>
        </div>
      </div>


      <div class="dom-nom-form">
        <div class="form-group">
          <label for="register_username">Usuario</label>
            <input type="text" class="form-control" id="register_username" name="register_username" formControlName="register_username"/>
        </div>
        <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_username')!.touched && FormRegister.get('register_username')!.hasError('required')">
          <h6>Necesita rellenar este campo.</h6>
        </div>
        <div class="validaciones alert alert-danger" *ngIf="invalidUser">
          <h6>{{ errorMessageUser }}</h6>
        </div>
      </div>


      <div class="ele-form d-flex justify-content-between">
        <div class="form-group me-5">
          <label for="register_password1">Contraseña</label>
            <input type="password" class="form-control" id="register_password1" name="register_password" formControlName="register_password1"/>
            <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_password1')!.touched && FormRegister.get('register_password1')!.hasError('required')">
              <h6>Necesita rellenar este campo.</h6>
            </div>
        </div>

        

        <div class="form-group">
          <label for="password2">Confirmar</label>
            <input type="password" class="form-control" id="register_password2" name="register_password2" formControlName="register_password2"/>
            <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_password2')!.touched && FormRegister.get('register_password2')!.hasError('required')">
              <h6>Necesita rellenar este campo.</h6>
            </div>
            <div class="validaciones alert alert-danger" *ngIf="FormRegister.get('register_password2')!.hasError('passwordMismatch')">
              <h6>Las contraseñas no coinciden.</h6>
            </div>
        </div>
      </div>


      <button class="boton-registro" type="submit" name="register" [disabled]="!FormRegister.valid">Registrarse</button>
      <div class="d-block mb-5">
        <p>Al hacer clic en 'Registrarse' estás aceptando el <a routerLink="#" routerLinkActive="active"><b>Términos de uso</b></a> y <a routerLink="#" routerLinkActive="active"><b>Política de Privacidad</b></a> de P.Sur Pharmacy.</p>
        <p ><a routerLink="/" routerLinkActive="active"><i class="fa-solid fa-arrow-left fa-sm"></i> Volver</a></p>
      </div>
    </form>
  </div>
  <div class="form-container sign-in">

    <button class="btn facebook" (click)="loginFB()">
      <h6 class="me-4">Inicia Sesión con Facebook</h6>
      <i class="fa-brands fa-facebook fa-2x"></i>
    </button>
    
    <form (ngSubmit)="login()" >
      <input type="hidden" name="login" value="login">

      <h1>Inicia Sesión</h1>




      <div class="social-icons">

        <div class="mb-5" id="google-btn"></div>

        
      </div>

      <span class="mb-3 login-text">o usa tu usuario y clave</span>
      
      <input class="username" type="text" name="username" id="username" placeholder="Usuario" [(ngModel)]="login_username"/>

      <div class="position-relative" *ngIf="!passwordVisibility">
        <input type="password" name="password" id="password" placeholder="Contraseña" [(ngModel)]="login_password"/>
        <i class="eye fa-solid fa-eye" (click)="showLoginPassword()"></i>
      </div>
        
      <div class="position-relative" *ngIf="passwordVisibility">
      <input type="text" name="password" id="password" placeholder="Contraseña" [(ngModel)]="login_password"/>
      <i class="eye fa-solid fa-eye-slash" (click)="showLoginPassword()"></i>
      </div>
      
      <div class="validaciones alert alert-danger" *ngIf="invalidLogin">
        <h6>{{ errorCredentials }}</h6>
      </div>
      <a href="#">¿Olvidaste tu contraseña?</a>
      <button type="submit" name="login" >Acceder</button>
    </form>
  </div>
  <div class="toggle-container">
      <div class="toggle">
          <div class="toggle-panel toggle-left">
              <h1>¡Nos complace verte de nuevo!</h1>
              <p>Inicia sesión para disfrutar de todas nuestra funciones</p>
              <button class="hidden" id="login">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
              <h1>¡Bienvenido, es un placer conocerte!</h1>
              <p>Introduce tus datos y empieza a disfrutar de todas nuestras funciones</p>
              <button class="hidden" id="register">Sign Up</button>
          </div>
      </div>
  </div>
</div>
